.Login {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  height: 25rem;

  > .box {
    border: 1px solid;
    width: 30rem;
    padding: 20px;
    border-radius: 5px;
    background-color: white;

    > .h1-login {
      font-size: 20px;
      margin: 0;
    }

    > .input-group {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      > .label {
        width: 10rem;
        text-align: right;
        margin-right: 1rem;
      }

      > input {
        flex: 1;
        padding: 8px;
      }
    }

    > .toggle-register {
      text-align: right;
      margin-top: 1.5rem;
      font-weight: bold;
      color: #1a5eaa;
      cursor: pointer;
    }

    > button {
      margin-top: 2rem;
      cursor: pointer;
      width: 100%;
      padding: 10px;
      border: none;
      background-color: black;
      color: white;
      font-family: "Roboto", sans-serif;
      border-radius: 3px;
    }
    > .error {
      color: red;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .Login {
    margin: 2rem 0;
    height: 28rem;

    > .box {
    }
  }
}
