.orderContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;

  > .productsOrder {
    height: 100%;
    flex: 2;
  }
  > .towBoxes {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    right: 0;
    padding: 6rem 2rem;

    > .payment {
      border: 2px solid black;
      background-color: #ddc9bc;
      width: 30rem;
      height: 15rem;
      margin-right: 2rem;
      float: right;
      margin-top: 0;
      padding-top: 0.5rem;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > .div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;

        > .deliveryToArea {
          padding-left: 7rem;
        }

        > .deliveryArea {
          color: brown;
          margin-bottom: 1rem;
        }
      }
    }

    > .paymentTwo {
      margin-top: 1rem !important;
      border: 2px solid black;
      background-color: #ddc9bc;
      width: 30rem;
      height: 25rem !important;

      > .h1 {
        padding: 0.5rem 2rem;
      }
      > .paragraph {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        font-size: large;

        > p > .span {
          font-size: x-small;
        }
      }
      > hr {
        width: 85%;
        margin-left: 2rem;
      }

      > .bt-buyNow {
        margin-top: 1rem;
        align-items: center;
        margin-left: 16%;
        padding: 0.5rem;
        background-color: #efeae2;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        text-align: center;
      }
      > .bt-buyNow:hover {
        background-color: black !important;
        color: white;
        cursor: pointer;
      }

      > Form {
        width: 70%;
        height: auto;
        margin-left: 2rem;
      }

      > h3 {
        margin: 1rem 50%;
      }

      > .link-button {
        margin-left: 25%;
        padding: 0.7rem;
        background-color: #efeae2;
        border: 1px solid black;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        text-align: center;
      }
      > .link-button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.myOrders {
  margin-left: 9rem;
  margin-top: 2rem;
}
.scrolling {
  overflow-y: scroll;
  max-height: 75vh;
}

.listGroup {
  background-color: #efeae2 !important;
  display: flex;
  padding: 1rem;

  > .cartInfo {
    flex-wrap: wrap;
    display: flex;
    border: 1px solid black;

    margin-left: 9rem;

    > .img-Titel {
      display: flex;
      padding: 1rem 1rem;

      > img {
        width: 5rem;
        height: 5rem;
      }

      > .titelInfo {
        padding-left: 1rem;

        > p {
          white-space: wrap;
          width: 9rem;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bolder;
          font-size: medium;
        }
      }
    }

    > .priceInfo {
      width: 18rem;
      text-align: right;
      padding: 2.5rem;
      font-weight: bolder;
    }
    > .quantityInfo {
      width: 20rem;
      text-align: right;
      padding: 2.5rem;
      font-weight: bolder;
    }

    > p {
      margin-top: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .orderContainer {
    display: flex;
    flex-direction: column;

    > .productsOrder {
      width: 100%;
    }
    > .towBoxes {
      bottom: 0 !important;
      padding: 0;
      width: 100% !important;

      > .payment {
        border: 1px solid black;
        background-color: #ddc9bc;
        width: 100%;
        height: 15rem;
        margin-right: 2rem;
        float: right;
        margin-top: 0;
        padding-top: 0.5rem;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        > .div {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          padding-top: 1rem;

          > .deliveryToArea {
            padding-left: 7rem;
          }

          > .deliveryArea {
            color: brown;
            margin-bottom: 1rem;
          }
        }
      }

      > .paymentTwo {
        margin-top: 1rem !important;
        border: 1px solid black;
        background-color: #ddc9bc;
        width: 100%;
        height: 28rem !important;

        > .h1 {
          padding: 0.5rem 2rem;
        }
        > .paragraph {
          display: flex;
          justify-content: space-between;
          padding: 0 2rem;
          font-size: large;

          > p > .span {
            font-size: x-small;
          }
        }
        > hr {
          width: 85%;
          margin-left: 2rem;
        }

        > .bt-buyNow {
          width: 60%;
          margin-top: 1rem;
          align-items: center;
          margin-left: 5rem;
          padding: 0.5rem;
          background-color: #efeae2;
          border: 1px solid black;
          color: black;
          text-decoration: none;
          text-align: center;
        }
        > .bt-buyNow:hover {
          background-color: black !important;
          color: white;
          cursor: pointer;
        }

        > Form {
          width: 70%;
          height: auto;
          margin-left: 2rem;
        }
      }
    }
  }

  .myOrders {
    margin-left: 8rem;
  }

  .listGroup {
    padding: 1rem;

    > .cartInfo {
      width: 100%;
      margin-left: 0.5rem;

      > .img-Titel {
        > img {
          width: 3rem;
          height: 3rem;
        }

        > .titelInfo {
          padding-left: 1rem;

          > p {
            width: 4.5rem;
          }
        }
      }

      > .priceInfo {
        width: 9rem;
        padding: 2rem 0.5rem;
      }
      > .quantityInfo {
        width: 11rem;
        text-align: center;
        padding: 2rem 0.5rem;
      }
    }
  }
}
