.Accaount {
  display: grid;
  min-height: calc(100vh - 5rem);
  width: 100%;
  grid-template-columns: 50% 40% 10%;

  grid-template-areas:
    "order settings logout"
    "footer footer footer";

  > .orderList {
    grid-area: order;
    margin-top: 2rem;
    margin-left: 4rem;
  }

  .listGroupAccount {
    background-color: #efeae2 !important;
    display: flex;
    padding: 1rem;

    > .cartInfoAccount {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid black;
      > .img-TitelAccount {
        display: flex;
        padding: 1rem 1rem;

        > img {
          width: 5rem;
          height: 5rem;
        }

        > .titelInfoAccount {
          padding-left: 1rem;

          > p {
            white-space: wrap;
            width: 10rem;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bolder;
            font-size: small;
          }
        }
      }

      > .priceInfoAccount {
        width: 10rem;
        text-align: right;
        padding: 2.5rem;
        font-weight: bolder;
      }
      > .quantityInfoAccount {
        width: 10rem;
        text-align: right;
        padding: 2.5rem;
        font-weight: bolder;
      }

      > p {
        margin-top: 2rem;
      }
    }
  }
  > .ContactDetail {
    margin: 2rem 2rem;
    grid-area: settings;

    > .firstDiv {
      display: flex;
      flex-direction: column;

      > .contactDetailArea {
        display: flex;
        justify-content: space-between;
        gap: 10rem;

        > .nameLabelArea {
          > h5 {
            margin-bottom: 3rem;
          }
        }
      }

      > .titel {
        width: 20rem;
      }

      > .passwordArea {
        > .passwordArea1 {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: auto;
          margin-top: 1rem;

          > .titel2 {
            width: 20rem;
          }

          > .passwordCangeArea {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            > .oldNewPassword {
              display: flex;
              flex-direction: row;
              gap: 2.6rem;

              > .oldPassword > input {
                width: 14rem;
              }

              > .newPassword > input {
                width: 14rem;
              }
            }

            > .ConfirmPassword > input {
              width: 14rem;
            }
          }

          > .button-delete-update {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            margin-top: 1rem;

            > .button1,
            .button2 {
              width: 10rem;
              font-size: medium;
            }
          }
        }
      }
    }
  }

  > .button-logout {
    grid-area: logout;
    margin-right: 2rem;
  }

  .footerAccount {
    grid-area: footer;
    min-height: 10rem;
    background-color: #ddc9bc;
    font-size: small;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    font-family: "Roboto", sans-serif;

    > .footer-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    > .footer-contact {
      font-size: medium;

      > .footer-icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-size: large;

        > .footer-icons-instagram {
          color: red;
        }
        > .footer-icons-twitter {
          color: blue;
        }
        > .footer-icons-facebook {
          color: indigo;
        }
      }
    }
  }
}
// .text-secondary {
//   --bs-text-opacity: 1;
//   color: rgba(208, 212, 217, 0.5) !important;
// }
@media only screen and (max-width: 1000px) {
  .Accaount {
    grid-template-columns: 3fr 1fr;

    grid-template-areas:
      "order logout"
      "settings logout"
      "footer footer";
  }
}
