.thanks {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  height: 10rem;
  margin-left: 2rem;

  > .background {
    > .transbox {
      margin: 30px;
      background-color: #ffffff;
      opacity: 0.8;

      span {
        font-size: 4rem;
        font-weight: bold;
        padding: 0 1rem;
      }
      .spanT {
        color: hsl(0, 80%, 50%);
      }
      .spanY {
        color: hsl(225, 80%, 50%);
      }
      .spanF {
        color: hsl(45, 80%, 50%);
      }
      .spanY2 {
        color: hsl(180, 81%, 40%);
      }
      .spanO {
        color: hsl(90, 89%, 32%);
      }
    }
  }
}
.parrProducte {
  width: 100%;
  height: 71vh;
  overflow-x: scroll;
  padding: 0 1rem;

  > .products {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.zurück {
  margin-top: 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 800px) {
  .thanks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: 10rem;
    margin-left: 0;

    > .background {
      > .transbox {
        height: 8rem;
        margin: 20px;
        opacity: 0.8;

        span {
          font-size: 2rem;
          padding: 1rem;
        }
      }
    }
  }
  .parrProducte {
    height: 70vh;
    overflow-y: scroll;

    > .products {
      flex-direction: column;
    }
  }

  .zurück {
    > .linkCountinueShopping {
      width: 20rem !important;
      font-size: medium !important;
    }
  }
}
