@media screen and (max-width: 800px) {
  .hr {
    margin: 1rem;
    width: 90% !important;
  }

  .container {
    width: 22.5rem !important;
    margin-left: 0 !important;

    > .secoundContainer {
      gap: 0rem;

      > .image {
        width: 7rem !important;
        height: 7rem !important;
        margin-left: 0;
      }
      > .infos {
        gap: 1rem;
        margin-left: 0.4rem !important;
        width: 5rem;
        > h6 {
          width: 9rem !important;
          font-weight: 300;
          font-size: small !important;
        }
        > .formInfos {
          > .form {
            width: 4rem !important;
          }
        }
      }
    }
  }
  .price {
    margin-left: 0 !important;
    padding: 0 !important;
  }
  .button {
    width: 9rem !important;
    height: 2rem;
    font-size: small !important;
  }
}
