* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.Layout {
  > header {
    height: 90px;
    background-color: #ddc9bc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    > .header-left {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding-left: 20px;

      > .logo {
        font-size: 50px;
        color: brown;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 600;
        text-shadow: 3px 3px black;
      }
    }

    > .header-center {
      display: flex;
      gap: 1rem;

      > .home-button,
      .products-button {
        text-decoration: none;
        color: black;
        background: #efeae2;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: x-large;
        font-weight: 500;
      }
      > .home-button:hover,
      .products-button:hover {
        color: brown;
      }
    }

    > .header-right {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-right: 20px;

      > h3 {
        margin-top: 0.7rem;
      }

      > button {
        width: 7rem;
        height: 70%;
        background-color: #efeae2;
        border-radius: 5px;
        padding-right: 0.5rem;

        > .icon-myCart {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 0.5rem;
          gap: 1rem;
          text-decoration: none;
          font-size: 30px;
          color: black;
        }
      }
    }
  }
}
